
.Accordion{
    -fx-background-color: #1F0AC8;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.titled-pane {
    -fx-background-color: white;
}

.titled-pane > .title {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #1C146E 0%, #09052F 100%), #0008F9, #1A3487, radial-gradient(center 50% 50%, radius 100%, #3529C2, #081584);    
    -fx-padding: 8;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.titled-pane:hover > .title {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #302884 0% , #17124A 100%),
        #0008F9,
        #1A3487,
        radial-gradient(center 50% 50% , radius 100% , #4A3BF9 ,#0E22CB );
}

.titled-pane:focused > .title {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #1C146E 0%, #09052F 100%), #0008F9, #1A3487, radial-gradient(center 50% 50%, radius 100%, #3529C2, #081584);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 10);
    -fx-border-color: #ffffff;
}

.titled-pane:focused:hover > .title {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100% , #302884 0% , #17124A 100%),
        #0008F9,
        #1A3487,
        radial-gradient(center 50% 50% , radius 100% , #4A3BF9 ,#0E22CB );
}


.titled-pane > .content > .scroll-pane > .content {
    -fx-background-color: transparent;
}
